/************
7. 959px
************/



/************
9. 768px
************/

@media only screen and (max-width: 768px) {

}

/************
10. 767px
************/


/************
11. 575px
************/

@media only screen and (max-width: 575px) {

}


/************
11. 539px
************/



/************
12. 480px
************/

@media only screen and (max-width: 480px) {
  
}





/************
14. 400px
************/

@media only screen and (max-width: 400px) {

  
.main {
        width: 390px;
        margin: auto;
    }

    .fmenu {
        position: fixed;
        width: 390px;
        height: 50px;
        background: #FFF;
        top: -20px;
    }

    .menu {
        width: 390px;
        height: 50px;
        background: white;
        position: fixed;
    }

    .menu:hover {

        background: #937F61;
        transition: 1s;

        .cont1 {
            color: #FFF;
        }

        .cont2 {
            color: #FFF;
        }

        .logo {
            color: #FFF;
        }

        .telephone {
            color: #FFF;
        }
    }

    .content {
        width: 370px;
        height: 50px;
        margin: 10px;
        position: fixed;
        top: -55px;
    }

    .logo {
        width: 140px;
        height: 41px;
        font-family: EB Garamond;
        font-size: 10px;
        font-style: normal;
        text-align: center;
        font-weight: 0;
        line-height: 0px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
        float: left;
    }


    .cont0 {
        width: 370px;
        height: 100%;
        float: left;
        margin-left: 0%;
        margin: auto;
    }

    .cont1 {
        color: #383230;
        font-family: EB Garamond;
        font-size: 10px;
        font-style: normal;
        line-height: 20px;
        float: left;
        letter-spacing: 0.5px;

    }

    .cont2 {
    color: #383230;
        font-family: EB Garamond;
        font-size: 10px;
        font-style: normal;
        line-height: 20px;
        float: left;
        letter-spacing: 0.5px;}

    .telephone {
        color: #383230;
        font-family: EB Garamond;
        font-size: 10px;
        font-style: normal;
        line-height: 10px;
        float: right;
    }

    .title {
        width: 100%;
        height: 191px;
       
    }

    .title_text {
        width:220px;
        height: 75px;
        margin-left: 10px;
        padding-top: 55px;
        position: relative;
        top: -200px;
    }

    .title_knopka {
        width: 114px;
        height: 22px;
        margin-top: 14px;
        border: 1.5px solid #FFF;
    }



    .knopka_text {
        color: #FFF;
        text-align: center;
        font-family: EB Garamond;
        font-size: 9px;
        font-style: normal;
        font-weight: 600;
        line-height: 14px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .text_comp {
        width: 370px;
        height: 350px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .textblok {
        width: 370px;
        height:114px;
        float: none;
    }

    .textblok1 {
        width: 370px;
        height: 105px;
        margin-top: 70px;
        float: none;
    }

    .kyrs {
        height: 104px;
        margin-top: 30px;
        width: 370px;
        margin-bottom: 50px;
        margin: auto;

    }

    .kyrs1 {
      
        width: 274px;
        height: 55px;
        margin: auto;
        color: #000;
        text-align: center;
        font-family: EB Garamond;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;

    }

    .kyrs2 {
        font-family: Arial;
        width: 340px;
        height: 33px;
        color: #000;
        font-size: 12px;
        line-height: 15px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        letter-spacing: 0.5px;
    }

    .forma {
        background: #383230;
        width: 360px;
        height: 60px;
        margin: auto;
    }

    p {

        color: #000;
        text-align: center;
        font-family: EB Garamond;
        font-size: 16px;
        font-style: normal;
        letter-spacing: 1px;

    }


    .textblok_knopka1 {
        color: #000000;
        text-align: center;
        font-family: EB Garamond;
        font-size: 9px;
        font-style: normal;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .textblok_knopka {
        width: 114px;
        height: 22px;
        margin-top: 14px;
        border: 0.5px solid #313131;
        margin: auto;
    }


    .slogan {
        width: 100%;
        height: 40px;
        background: #E9E9E9
    }

    .slogan_text {
        color: #000;
        text-align: center;
        font-family: EB Garamond;
        font-size: 11px;
        font-style: italic;
        font-weight: 0;
        line-height: 40px;
        margin-left: 0px;
        letter-spacing: 0.5px;
    }

    .stati {
        width: 370px;
        height: 700px;
        margin: auto;
    }

    .stat1 {
        width: 370px;
        height: 340px;
        margin-left: 0px;

        float: none;
        margin-top: 30px
    
    }

    .stat2 {
        width: 370px;
            height: 340px;
            margin-left: 0px;
            float: none;
            margin-top: 30px
    }


    .imgg {
        max-width: 100%;
    }

    .image1 {
        width: 370px;
        height: 246px;
    }


    .aboutimage {
        width: 390px;
        height: 100px;
        margin-top: 10px;
    }

    .text1 {
        color: #000;
        font-family: EB Garamond;
        font-size: 16px;
        font-style: normal;
        font-weight: 400px;
        line-height: 15px;
    }

    .text2 {
        color: #555;
        width: 370px;
        font-family: Arial;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin-top: 8px;
    }

    .image2 {
        width: 370px;
        height: 246px;
    }

    .aboutimage2 {
         width: 500px;
        height: 100px;
        margin-top: 10px;
    }

    .news {
        width: 370px;
        height: 1140px;
        margin: auto;
     
    }

    .newsblok {
        padding-top: 0%;
        margin-left: 0px;
        width: 100%;
        float: none;
        height: 120px;
        margin-top: 20px;
        text-align: center;
    }

    .knopka2 {
        width: 153px;
        height: 42px;
        border: 0.5px solid #666666;
        background: #FFF;
        margin: auto;
        margin-top: 30px;
        position: relative;
        top: 970px;
    }


    .knopka2text {
        color: #000;
        text-align: center;
        font-family: EB Garamond;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
        
    }

    .text3 {
        color: #515151;
        font-family: Arial;
        font-size: 15px;
        font-style: normal;
        text-align: center;
        }

    h2 {
        color: #000;
        font-family: EB Garamond;
        font-size: 28px;
        font-style: normal;
        line-height: 30px;
        letter-spacing: 2.5px;
        text-align: center;
    }

    .kartku0 {
        margin-right: 0px;
        float: none;
        width: 370px;
        height: 941px;
        margin-top: 40px;
        margin: 0px auto;
    }


.card1{
    width: 303px;
        height: 463px;
        border: 1px solid #A7A7A7;
            background: #FFF;
            box-shadow: 0px 2px 12px 0px #36363633;
            margin-left: 100px;
            margin: 0px auto;
        float: none;
}

.card2 {
    width: 303px;
    height: 463px;
    border: 1px solid #A7A7A7;
    background: #FFF;
    box-shadow: 0px 2px 12px 0px #36363633;
    float: none;
    margin: 0px auto;
    margin-top: 20px;
    
}

.imagine4{
    width: 303px;
        height: 287px;
}

.imagine5{
    width: 303px;
        height: 287px;
        
}

.zag1{
    width: 218px;
        height: 34px;
        color: #383230;
            font-family: EB Garamond;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin-left: 10px;
}
.zag2{
    color: #383230;
        font-family: EB Garamond;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
     width: 218px;
    height: 34px;
    margin-left: 10px;
}

.pid_zag1{
    color: #8C8C8C;
        font-family: Arial;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        width: 189px;
        height: 30px;
        margin-top: 12px;
        margin-left: 10px;
        letter-spacing: 1px;
}

.pid_zag2 {
    color: #8C8C8C;
    font-family:  Arial;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    width: 189px;
    height: 30px;
    margin-top: 12px;
    margin-left: 10px;
    letter-spacing: 1px;
}

.priseandml1{
    width: 160px;
    height: 12px;
    margin-top: 12px;
    margin-left: 10px;
}

.price1{
    width: 80px;
    color: #000;
        font-family: IBM Plex Mono;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        text-transform: uppercase;
        float: left;
}

.ml1{
    width: 58px;
    color: #8C8C8C;
        text-align: center;
        font-family: IBM Plex Mono;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        text-transform: uppercase;
        float: right;
}

.price2 {
    width: 80px;
    color: #000;
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;
    float: left
}

.ml2 {
    width: 40;
    color: #8C8C8C;
    text-align: center;
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    float: right;
}

.priseandml2 {
    width: 160px;
    height: 12px;
    margin-top: 12px;
    margin-left: 10px;

}

.knopkanuz{
    width: 100%;
    height: 42px;
    border-top: 1px solid #A7A7A7;
    margin-top: 34px;
}

.knopkanuz:hover {

    background: #dfdfdf;
    transition: 1s;

    .knopka2text {
        color: #000000;
    }
}

.knopkanuztext{
    width: 100%;
    color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
        margin: auto;
    
}


    .price {
        width: 370px;
        height: 1615px;
        margin-left: 0px;
        margin-top: 40px;
        margin: auto;
    }

    h3 {
        width: 350px;
        height: 70px;
        color: #000;
        font-family: EB Garamond;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin: auto;
        margin-top: 30px;
        text-align: center;
    }
.imgm{
    width: 260px;
}
.imgmm {
    width: 260px;
    margin: auto ;
}


.imgmm1{
    width: 260px;
    margin: auto;
}

.imgm1{
    width: 260px;
        margin: auto;
    }
}

    .blokprice {
        height: 100%;
        width: 370px;
    }

    .right {
        height:1215px;
        float: none;
        width: 370px;
    }


    .righleft {
        height: 606px;
            width: 370px;
            float: none;
    }

    .rightright {
        height: 606px;
        width: 370px;
        float: none;
    }


    .right2 {
        height: 320px;
            width: 370px;
            float: none;
    }


    .righttext {
        color: #000;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        margin: auto;
        line-height: 14px;
        padding-top: 8px;
        text-align: center;

    }

    .right1_1 {
        width: 260px;
        background: #FFF;
        height: 30px;
        border: 1px solid #A7A7A7;
        margin-top: 5px;
        margin: auto;
    }

   
    a {
        text-decoration: none;
    }


    .left {
        width: 370px;
        float: none;
    }

    .left_1 {
        width: 100%;
        background: #FFF;
        height: 30px;
        border: 1px solid #A7A7A7;
        margin-top: 5px;
    }


 .stati2 {
            width: 100%;
            height: 680px;
            margin: auto;
            margin-top: 70px;
        }
    
 .stat3 {
            width: 370px;
            height: 330px;
            margin-left: 8px;
            float: none;
            margin-top: 0px
        }
    
   .image3 {
    width: 370px;
    height: 250px;
     }

   .image4 {
    width: 370px;
          }

    .imgst{
        max-width: 100%;
    }


 .stat4 {
            width: 370px;
            height: 330px;
            margin-left: 8px;
            float: none;
            margin-top: 25px
        }

        
 .propoz {
  
        width: 370px;
            height: 1140px;
            margin: auto;
            margin-top: 40px;
    }   

       
    
 .newsblok2 {
           padding-top: 0%;
           margin-left: 0px;
           width: 100%;
           float: none;
           height: 120px;
           margin-top: 20px;
           text-align: center;
     }


 .kartku_0 {
            margin-right: 0px;
                float: none;
                width: 370px;
                height: 941px;
                margin-top: 40px;
                margin: 0px auto;
            }

     .text5 {
        color: #515151;
            text-align: none;
            font-family: Arial;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
            width: 320px;
            letter-spacing: 0.5px;
            margin: auto;
            text-align: center;
      }
    
.h4 {
          color: #000;
          font-family: EB Garamond;
          font-size: 28px;
          font-style: normal;
          line-height: 30px;
          letter-spacing: 1px;
          text-align: center;
      }


.knopka3 {
    width: 153px;
        height: 42px;
        border: 0.5px solid #666666;
        background: #FFF;
        margin: auto;
        margin-top: 30px;
        position: relative;
        top: 970px;
        float: none;

 }

.contact {
        width: 390px;
        height: 700px;
        background: #1C0700;
        margin-top: 40px;
        margin: auto;
    }

.contactout {
        width: 370px;
        height: 700px;
        margin: auto;
    }

 .werh {
        width: 100%;
        height: 560px;
    }

    .werh1 {
        width: 370px;
            height: 220px;
            float: none;
            margin-left: none;
            margin: auto;
            margin-top: 40px;
        }
.t_img {

    max-width: 100%;
}
    .werh1zag {
        color: #FFF;
        font-family: EB Garamond;
        font-size: 26px;
        font-style: normal;
        line-height: 45px;
        margin-top: 50px;
        text-align: center;
        margin: auto;
    }

    .werh1_zag {
        font-family: Arial;
        color: #E0DBD2;
        font-size: 28px;
        font-style: normal;
        line-height: 25px;
        width: 370px;
        margin-top: 15px;
       
    }


    .werh2 {
        width: 370px;
        height: 100px;
        float: none;
        margin-left: none;
        margin: auto;
        margin-top: 30px;
    }

    .werh1_text1 {
        color: #E0DBD2;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        margin-top: 20px;
        margin: auto;
        text-align: center;
    }

    .werh1_text2 {
    color: #E0DBD2;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        margin-top: 20px;
        margin: auto;
        text-align: center;
    }

    .werh3 {
        width: 370px;
            height: 160px;
            float: none;
            margin-left: none;
            margin: auto;
            margin-top: 30px;
    }

    .nuz {
        width: 100%;
        height: 25px;
        margin-top: 90px;
        margin: auto;
    }

    .nuzleft {
        width: 40%;
        height: 25px;
        float: left;
    }

    .n2023 {
        color: #D2D2D2;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            height: 25px;
            margin-left: 40px;
            float: left;
        }

    .n_2023 {
        color: #D2D2D2;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        height: 35px;
        margin-left: 40px;
        float: left;
    }

    .nuzright {
        width: 40%;
        height: 300px;
        float: right;
    }


    .icon1 {
        margin-right: 37px;
        height: 40px;
        float: right;
    }

    h1 {
        color: #FFF;
        font-family: EB Garamond;
        font-size:20px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.5px;
    }

    .title2 {
        width: 100%;
        height: 233px;
        background-image: url(IMAGE\ \(1\)\ 1.png);
        margin-bottom: 77px;
    }

    .title_text2 {
        width: 331px;
        height: 100px;
        color: #FFF;
        font-family: EB Garamond;
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 3px;
        margin-left: 64px;
        padding-top: 66px;
    }

    .mainblokcard {

        width: 370px;
        height: 463px;
        margin-left: 64px;
    }

    .vidstup {
        margin-top: 77px;
    }

 .linetop {
     width: 390px;
     height: 16px;
     margin: auto;
     margin-top: 30px;
 }

 .line1 {
     width: 170px;
     height: 0.5px;
     background: #000;
     float: left;
     margin-top: 9px;
 }

 .star {
     width: 16px;
     height: 16px;
     margin-left: 17px;
     float: left;
 }

 .line2 {
     width: 170px;
     height: 0.5px;
     background: #000;
     float: right;
     margin-top: 9px;
 }

 .linebottom {
    width: 390px;
        height: 16px;
        margin: auto;
        margin-top: 30px;
 }

    .nomer {
    
        height: 16px;
      
        gap: 15px;
        width: 130px;
        height: 25px;
        margin: auto;
        margin-top: 40px;
    }

    .nomer1 {
        color: #050505;
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: 800;
        line-height: 14px;
        margin-bottom: 1px;
    }

    .nomer2 {
        color: #050505;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 14px;
        margin-bottom: 0px;
    }
