.main{
width: 1200px;
margin: auto;
}
.fmenu{
position: fixed;
width: 1200px;
height: 50px;
background: #FFF;
top: -20px;
}
.menu{
width: 1200px;
height: 50px;
background: white;
position: fixed;
}

.menu:hover {

    background: #937F61;
    transition: 1s;
 .cont1 {
        color: #FFF;
    }
 .cont2 {
            color: #FFF;
        }
 .logo{
    color: #FFF;
 }
 .telephone{
    color: #FFF;
 }
}

.content{
    width: 1072px;
    height: 50px;
    margin: 64px;
    position: fixed;
    top: -55px;
}

.logo {
        width: 140px;
        height: 41px;
        font-family: EB Garamond;
        font-size: 14px;
        font-style: normal;
        text-align: center; 
        font-weight: 800;
        line-height: 50px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 64px;
        float: left ;
    }

        .logo:hover {
            transition: 1s;
            font-size: 15px;
        }

.cont0{
    width:420px;
    height: 100%;
    float: left;
    margin-left: 20%;
}

.cont1{
    color: #383230;
    font-family: EB Garamond;
    font-size: 14px;
    font-style: normal;
    line-height: 50px;
    float: left;
    letter-spacing: 0.5px;
    
}

.cont1:hover{
    transition: 1s;
    font-size: 16px;
    
}

.cont2:hover {
    transition: 1s;
    font-size: 16px;

}


.cont2 {
    color: #383230;
    font-family: EB Garamond;
    font-size: 14px;
    font-style: normal;
    line-height: 50px;
    margin-left: 50px;
    float: left;
    letter-spacing: 0.5px;
}

.telephone{
color: #383230;
    font-family: EB Garamond;
    font-size: 14px;
    font-style: normal;
    line-height: 50px;
    float: right;
}

.telephone:hover {
    transition: 1s;
    font-size: 16px;

}

.title{
    width: 100%;
    height: 588px;
   background-image: url("kosmetic.github.io/img/fon.png");
}

.title_text{
    width: 486px;
    height: 155px;
    margin-left: 64px;
    padding-top: 75px;
}

.title_knopka{
    width: 220px;
    height: 40px;
    margin-top: 30px;
    border: 1.5px solid #FFF;
}

.title_knopka:hover{
   
    background: #FFF;
    transition: 1s;
    box-shadow: 0px 0px 2px 4px #ffffff42, 0px 0px 4px 10px #ffffff21;; 

    .knopka_text{
        color: #000;
        font-size: 17px;
    }

}

.knopka_text{
        color: #FFF;
            text-align: center;
            font-family: EB Garamond;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 14px;
            margin-top: 14px;
            margin-bottom: 14px;
            margin-left: 22px;
            margin-right: 22px;
        }

.text_comp{
    width: 1070px;
    height: 300px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.textblok{
 width: 530px;
 height: 300px;
    float: left;
}

.textblok1{
    width: 530px;
    height: 300px;
    margin-top: 18px;
    float: right;
}

.kyrs {
    height: 180px;
    margin-top: 25px;
    width: 500px;
    margin-bottom: 25px;
    margin: auto;

}

.kyrs1 {
  
    width: 420px;
    height: 45px;
    margin: auto;
    color: #000;
    text-align: center;
    font-family: EB Garamond;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;

}

.kyrs2 {
    font-family: Arial;
    width:330px;
    height: 90px;
    color: #000;
    font-size: 18px;
    line-height: 25px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
}

.forma {
    background: #383230;
    width: 373px;
    height: 40px;
    margin: auto;
}

p{
    
    color: #000;
        text-align: center;
        font-family: EB Garamond;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 2px;

    }


.textblok_knopka1{
color: #000000;
    text-align: center;
    font-family: EB Garamond;
    font-size: 16px;
    font-style: normal;
    line-height: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 22px;
    margin-right: 22px;
}

.textblok_knopka{ 
 width: 220px;
 height: 40px;
 margin-top: 30px;
 border: 1.5px solid #313131;
 margin: auto;
}

.textblok_knopka:hover {

    background: #d3d3d3;
    transition: 1s;
    box-shadow: 0px 0px 2px 4px #ffffff42, 0px 0px 4px 10px #ffffff21;
}

.slogan{
    width: 100%;
    height: 110px;
    background:#E9E9E9}

.slogan_text{
    color: #000;
    text-align: center;
    font-family: EB Garamond;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    line-height: 110px;
    margin-left: 64px;
    letter-spacing: 2px;
}

.stati{
    width: 100%;
        height: 550px;
        margin: auto;
}

.stat1{
    width: 500px;
    height: 450px;
    margin-left: 64px;
    float: left;
    margin-top: 80px
}

.stat2{
    width: 500px;
        height: 450px;
        margin-right: 64px;
        float: right;
        margin-top: 80px
}
.imgg {
    max-width: 100%;
}
.image1{
    width: 500px;
    height: 333px;
    transition: 1s;
}



.aboutimage{
    width: 500px;
    height: 100px;
    margin-top: 20px;
}

.text1{
    color: #000;
     font-family: EB Garamond;
     font-size: 24px;
    font-style: normal;
    font-weight: 400px;
    line-height: 30px;
}

.text2{
    color: #555;
    width: 400px;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-top: 10px;
}

.image2{
    width: 500px;
        height: 333px;
}

.aboutimage2 {
    width: 500px;
    height: 100px;
    margin-top: 20px;
}

.news{
    width: 100%;
        height: 500px;
        margin: auto;
    
        margin-top: 80px;
}

.newsblok{
  height: 190px;
  width: 347px;
        padding-top: 14%;
        float: left;
        margin-left: 64px;
     
}
.knopka2{
    width: 153px;
        height: 42px;
        border: 0.5px solid #666666;
        background: #FFF;
        margin-top: 15px;
}

.knopka2:hover {

    background: #dfdfdf;
    transition: 1s;

    .knopka2text {
        color: #000000;  
    }
}

.knopka2text{
    color: #000;
        text-align: center;
        font-family: EB Garamond;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
}



 .text3 {
     color: #515151;
     font-family: Arial;
     font-size: 15px;
     font-style: normal;

 }

  .h2 {

      color: #000;
      font-family: EB Garamond;
      font-size: 36px;
      font-style: normal;
      margin-bottom: 15px;
      letter-spacing: 2.5px;
     
  }

.kartku0{

    margin-right: 64px;
float: right;
width: 625px;
height: 100%;
}

.card1{
    width: 303px;
        height: 463px;
        border: 1px solid #A7A7A7;
            background: #FFF;
            box-shadow: 0px 2px 12px 0px #36363633;
            float: left;
            margin: auto;
}

.card2 {
    width: 303px;
    height: 463px;
    border: 1px solid #A7A7A7;
    background: #FFF;
    box-shadow: 0px 2px 12px 0px #36363633;
    float: right;
    margin: auto;
}

.imagine4{
    width: 303px;
        height: 287px;
}

.imagine5{
    width: 303px;
        height: 287px;
        
}

.zag1{
    width: 218px;
        height: 34px;
        color: #383230;
            font-family: EB Garamond;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin-left: 10px;
}
.zag2{
    color: #383230;
        font-family: EB Garamond;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
     width: 218px;
    height: 34px;
    margin-left: 10px;
}

.pid_zag1{
    color: #8C8C8C;
        font-family: Arial;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        width: 189px;
        height: 30px;
        margin-top: 12px;
        margin-left: 10px;
        letter-spacing: 1px;
}

.pid_zag2 {
    color: #8C8C8C;
    font-family:  Arial;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    width: 189px;
    height: 30px;
    margin-top: 12px;
    margin-left: 10px;
    letter-spacing: 1px;
}

.priseandml1{
    width: 160px;
    height: 12px;
    margin-top: 12px;
    margin-left: 10px;
}

.price1{
    width: 80px;
    color: #000;
        font-family: IBM Plex Mono;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 12px;
        text-transform: uppercase;
        float: left;
}

.ml1{
    width: 58px;
    color: #8C8C8C;
        text-align: center;
        font-family: IBM Plex Mono;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        text-transform: uppercase;
        float: right;
}

.price2 {
    width: 80px;
    color: #000;
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;
    float: left
}

.ml2 {
    width: 40;
    color: #8C8C8C;
    text-align: center;
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    float: right;
}

.priseandml2 {
    width: 160px;
    height: 12px;
    margin-top: 12px;
    margin-left: 10px;

}

.knopkanuz{
    width: 100%;
    height: 42px;
    border-top: 1px solid #A7A7A7;
    margin-top: 34px;
}

.knopkanuz:hover {

    background: #dfdfdf;
    transition: 1s;

    .knopka2text {
        color: #000000;
    }
}

.knopkanuztext{
    width: 100%;
    color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
        margin: auto;
    
}

.price{
    width: 1070px;
        height: 680px;
        margin-left: 64px;
        margin-top: 80px;
}

h3{
    width: 800px;
        height: 40px;
        color: #000;
            font-family: EB Garamond;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 2.5px;
}

.blokprice{
    height: 100%;
    width: 1070px;
    
}

.right{
        height: 555px;
        float: right;
        width: 510px;
}


.righleft{
    height: 555px;
    width: 240px;
    float: left;
}
.rightright{
    height: 555px;
     width: 240px;
     float: right;
}


.right2{
    margin-top: 20px;}


.righttext{
    color: #000;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        margin: auto;
        line-height: 14px;
        padding-top: 8px;
        text-align: center;
        
}

.right1_1{
width: 99%;
background: #FFF;
    height: 30px;
    border: 1px solid #A7A7A7;
    margin-top: 5px;
}

.right1_1:hover {

    background: #dfdfdf;
    transition: 1s;
}

a {
    text-decoration: none;
}


.left{
    width: 500px;
    float: left;
}

.left_1{
    width: 100%;
        background: #FFF;
        height: 30px;
        border: 1px solid #A7A7A7;
        margin-top: 5px;
}

.left_1:hover {

    background: #dfdfdf;
    transition: 1s;
}


.stati2{
    width: 1070px;
        height:500px;
        margin-left: 64px;

}

.stat3 {
    width: 500px;
    height: 450px;
    float: left;
    margin-top: 36px
}


.stat4 {
    width: 500px;
    height: 450px;
    margin-left: 64px;
    float: right;
    margin-top: 36px

}

.propoz{
    width: 1070px;
        height: 635px;
        margin: auto;

}

.kartku_0 {

    gap: 25px;
    float: left;
    width: 625px;
        height: 100%;
        margin-right: 70px;
}

.text5{
    color: #515151;
        text-align: right;
        font-family: Arial;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        margin: auto;
        width: 354px;
margin-top: -30px;
letter-spacing: 1px;
}

.newsblok2 {

    width: 354px;

    padding-top: 16%;
   }

h4{
    color: #000;
        text-align: right;
        font-family: EB Garamond;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
       
        letter-spacing:2px;
}

.knopka3 {
    width: 153px;
    height: 42px;
    border: 0.5px solid #000;
    background: #FFF;
    margin-top: 22px;
}

.knopka3:hover {

    background: #dfdfdf;
    transition: 1s;

    .knopka2text {
        color: #000000;
    }
}

.contact{
    width: 100%;
        height: 320px;
        background: #1C0700;
        margin-top: 70px;
}

.contactout{
    width: 1070px;
    height: 280px;
    margin: auto;
}

.werh{
    width: 100%;
    height: 170px;
}

.werh1{
    width: 500px;
    height:164px;
    float: left;
}

.werh1zag{
    color: #FFF;
        font-family: EB Garamond;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
        margin-top: 20px;
}

.werh1_zag{
    font-family: Arial;
    color: #E0DBD2;
        font-size: 14px;
        font-style: normal;
        line-height: 25px;
        width: 480px;
        margin-top: 3px;
}

.werh1forma{
    width: 380px;
    height: 40px;
    margin-top: 12px;
}

.werh2 {
    width: 150px;
    height: 170px;
    float: left;
    margin-left: 4%;
}

.werh1_text1{
    color: #E0DBD2;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 13px;
        margin-top: 10px;
}

.werh1_text2 {
    color: #E0DBD2;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 13px;
    margin-top: 20px;
}

.werh3 {
    width: 240px;
    height: 170px;
    margin-right: 4%;
    float: right;
}

.nuz {
    width: 100%;
    height: 25px;
    margin-top: 90px;
}

.nuzleft{
    width: 40%;
    height: 25px;
    float: left;
}

.n2023{
color: #D2D2D2;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    height: 25px;
    float: left;
}

.n_2023{
    color: #D2D2D2;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        height: 25px;
        margin-left: 40px;
        float: left;
}

.nuzright {
    width: 40%;
    height: 25px;
    float: right;
}


.icon1{
    margin-right: 37px;
    height: 20px;
    float: right;
}

h1{
color: #FFF;
    font-family: EB Garamond;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 1px;
}

.title2{
    width: 100%;
    height: 233px;
    background-image: url(IMAGE\ \(1\)\ 1.png);
    margin-bottom: 77px;
}

.title_text2 {
    width: 331px;
    height: 100px;
    color: #FFF;
    font-family: EB Garamond;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 64px;
    padding-top: 66px;
}

.mainblokcard{

    width: 1070px;
    height: 463px;
    margin-left: 64px;

    gap: 86px;
}

.vidstup{
    margin-top: 77px;
}

 .linetop {
     width: 385px;
     height: 18px;
     margin: auto;
     margin-top: 60px;
 }

        .line1 {
            width: 140px;
            height: 0.5px;
            background: #000;
            float: left;
            margin-top: 9px;
           
           
    
    
        }
    
        .star {
            width: 16px;
            height: 16px;
            margin-left: 5px;
            margin-right: 5px;
            margin: auto;
        }
    
        .line2 {
            width: 140px;
            height: 0.5px;
            background: #000;
            float: right;
            
            margin-top: -7px;
           
    
        }
    
        .linebottom {
            width: 390px;
            height: 16px;
            margin: auto;
            margin-top: 50px;

        }
.nomer{
 
        height: 16px;
      
        gap: 15px;
        width: 130px;
        height: 25px;
        margin: auto;
        margin-top: 40px;
}
.nomer1{
    color: #050505;
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: 800;
        line-height: 14px;
        margin-bottom: 1px;
}

.nomer2 {
    color: #050505;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 14px;
    margin-bottom: 0px;
}
